<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Empleado</li>
            <li>
                <a href="{% url 'personal_app:empleados_all' %}">Listar</a>
            </li>
            <li><a href="{% url 'departamento_app:lista_departamento' %}">Departamento</a></li>
            <li><a href="{% url 'personal_app:empleados_admin' %}">Administrar</a></li>
            <li><a href="{% url 'departamento_app:nuevo_departamento' %}">Nuevo Departamento</a></li>
        </ul>
    </div>
    <div class="grid-x top-bar-right">
        <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Buscar Empleado</button></li>
        </ul>
        <ul>
            <br>
        </ul>
        <ul class="menu">
            <li><a href="{% url 'personal_app:empleado_add' %}" class="button">Registrar Nuevo</a></li>
        </ul>
    </div>
</div>